body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat, sans-serif';
    
}

/* <----------NAVBAR-------> */

#title {
    background-color: #ff4c68;
    position: relative;
    z-index: 0;
    /* text-align: center; */
}

#title .navbar {
    padding: 0 14.2% ;
    margin: 0;
}
.navbar .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 10px;
}
.nav-link {
    font-size: 1.2rem;
}

/* <----------HOME INTRO---------> */

.home-intro {
    padding: 0 15% ;
    display: flex;
}
.btn {
    margin: 5% 2%;
}
.home-intro-1 {
    padding: 30px 0px 0px;
}
.home-intro h1 {
    font-family: 'Montserrat, sans-serif';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}
.tittle-image {
    position: relative;
    top: 70px;
    width: 60%;
    transform: rotate(25deg);
    z-index: -1;
}

/* <---------FEATURE--------> */

#features {
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-section {
    padding: 7% 10%;
    display: flex;
}
.icons {
    color: #ef8172;
    margin-bottom: 1rem;
}

/* <----------TESTIMONIALS-------> */

#testimonials h2 {
    font-weight: 700;
    line-height: 1.5;
    /* font-family: 'Ubuntu', sans-serif; */
    font-size: 3rem;
}
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item {
    padding: 7% 15%;
}
.testimonial-image {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

/* <-------PRESS-------> */

#press {
    background-color: #ef8172;
    padding: 3%;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 0px 20px 50px;
}

/* <--------PRICING--------> */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-statement {
    margin:0px 0px 100px;
    font-size: 1.5rem;
}
.pricing-options {
    margin: 20px 0px;
}

/* <--------CALL-TO-ACTION---------> */

#cta {
    background-color: #ef8172;
    text-align: center;
    padding: 5% 15% 0px;
    color: #fff;
}
#cta h3 {
    font-size: 3rem;
}
#cta .btn {
    margin: 2% 2%;
}

/* <--------FOOTER--------> */

#footer {
    padding: 1%;
    text-align: center;
    color: #fff;
    background-color: #ef8172;
}

/* <------MEDIA-QUERY------> */

/* MEDIA QUERY FOR HOME-INTRO */

@media (max-width:1170px) {
    .home-intro {
        flex-direction: column;
    }
    #title {
        text-align: center;
    }
    .tittle-image {
        position: static;
        height: 40%;
        transform: rotate(0);
    }
}
/* MEDIA QUERY FOR FEATURES */

@media (max-width:1203px){
    .feature-section {
        flex-direction: column;
    }
}