body {
    background-color: #CFD2CF;
    }

hr {
    color: #A460ED;
    border-style: none;
    border-top-style: dotted;
    border-width: 1px;
    border-width: 5px;
    width: 5%;
    }
h1 {
    color: #16213E;
    
    font-style: italic;
}

h3 {
    color: #16213E;
    font-style: italic;
}