@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family:'Roboto' ,sans-serif;
}
.container {
    border: 2px solid black;
    width: 290px;
    background-color: black;
}
.heading {
    font-size: 3rem;
}
.edit {
    margin: 10px 10px;
    border-radius: 9px;
}
.input-inner {
    width: 251px;
    padding: 5px;
    color: #ffffff;
    background-color: black;
    border-style: solid;
    text-align: right;
}
.font {
    font-size: 1.8rem;
}
.button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 2px;
    border-style: none;
}
.zero {
    width: 127px;
    border-radius: 45%;
}

.int {
    background: rgba(107, 95, 95, 0.8);
    color: #ffffff;
}
.boadmas {
    background: rgb(174, 185, 0.5);
    color: #ffffff;
}
.top_button {
    background: rgb(158, 158, 154);
    color: #000000;
}